body {
  margin: 0px;
  font-family: Helvetica Neue, Helvetica;
  padding-top: 75px;
  padding-bottom: 75px; 
  background: #efefef;
}

#header-img {
  position: relative;
}
#header-img img {
  width: 100%;
}

#header-img p {
  position: absolute;
  bottom: 3%;
  right: 3%;
  font-size: 160%;
  font-weight: 500;
  color: white;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.8);
  background: rgba(255,255,255,0.2);
  padding: 0px 4%;
}
  body a {
    color: orange;
    text-decoration: none; }
    body a:hover {
      color: yellow; }
    body a:visited{
      color:orange;
    }
  body .content {
    padding-left: 50px;
    padding-right: 50px;}
    body .content h1 {
      font-weight: normal;
      padding: 10px 10px 10px 10px;
      margin: 0px;
      font-size: 90px;}
    body .content p {
      font-size: 18px;}

  div .well{
    background-color: #fff;
    padding: 10px 10px 0px 10px;
  }
  div .well-small{
    background-color: #fff;
    padding: 10px 10px 0px 10px;
  }

  div .well p {
    border-left: 5px solid #dfdfdf;
    padding-left: 5px;
  }

  .navbar-toggle{
    display: none;
  }