body {
  margin: 0px;
  background-color: black;
  font-family: Helvetica Neue, Helvetica;
  color: white; 
  padding-top: 75px;
  padding-bottom: 75px; }
  body a {
    color: orange;
    text-decoration: none; }
    body a:hover {
      color: yellow; }
    body a:visited{
      color:orange;
    }
  body .content {
    padding-left: 50px;
    padding-right: 50px;}
    body .content h1 {
      font-weight: normal;
      padding: 10px 10px 10px 10px;
      margin: 0px;
      font-size: 90px;}
    body .content p {
      font-size: 18px;}

  div .well{
    background-color: #20202d;
    padding: 10px 10px 0px 10px;
  }
  div .well-small{
    background-color: #20202d;
    padding: 10px 10px 0px 10px;
  }